body {
	background-color: #6743cd;
	.holder  {
		position: relative;
		min-height: 550px;
	}

	.ame-container {
		background-color: #1d2e82;
		position: absolute;
		max-width: 300px;
		border-radius: 50px 50px 100% 100%;
		max-height: 400px;
		margin: auto;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
	}
	.ame {
		position: relative;
		bottom: -32px;
		&:before, &:after {
			content: '';
			position: absolute;
			height: 400px;
			width: 280px;
			background-color: #e1485a;
		}

		&:before {
			border-radius: 50px 50px;
			left: 70px;
			transform: rotate(60deg) skew(13deg, -6deg);
		}
		&:after {
			transform: rotate(-59deg) skew(-13deg, 6deg);
			border-radius: 50px 50px;
			right: 70px;
		}
	}
}
